@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

nav {
  background-color: #ffffff;
}

body {
  background-color: rgba(48, 221, 207, 0.774);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(14, 163, 131);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 2px;
  word-spacing: 6px;
  line-height: 40px;
  margin: 10px;
}

.tituloprincipal {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  margin: 40px;
}

.tituloinicio {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
  word-spacing: 6px;
}

.comienzo {
  width: 100%;
  margin: 0px;
  height: 100%;
}

.carousel {
  margin-top: 40px;
}

#tratamientos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: space-between;
  padding: 15px;
  margin: 15px;
  text-align: center;
}

#tratamientos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 100px;
}

.imagenes {
  width: 350px;
  height: 350px;
  border: solid 3px white;
  transition: all 1s;
}

.imagenes:hover {
  width: 400px;
  height: 400px;
}

.bordes {
  border: double #ffffff;
  margin: 25px;
  padding: 25px;
}

label {
  display: block;
  margin-top: 20px;
  letter-spacing: 1px;
}

.calendario {
  display: grid;
  justify-content: center;
  margin: 30px;
}

.formulario {
  display: grid;
  justify-content: center;
  border-top: solid 4px #ffffff;
  margin: 30px;
  padding: 25px;
  box-sizing: border-box;
}

.tituloformulario {
  text-align: center;
  font-size: 20px;
}

input, textarea {
  width: 380px;
  height: 27px;
  background: #ffffff;
  border: 2px solid #18f3e1;
  padding: 10px;
  margin-top: 5px;
  font-size: 12px;
  color: #ffffff;
}

textarea {
  height: 150px;
}

#botonenviar {
  margin: 30px;
}

.seccionesprincipales {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  margin: 60px;
  text-align: center;
  content: normal;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.png {
  margin: 15px;
}

.titulos {
  font-size: 25px;
  transition: all 1s;
}

.titulos:hover {
  font-size: 30px;
}

.reservar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

header {
  background-color: rgb(255, 255, 255);
  text-align: right;
  word-spacing: 15px;
}

.informacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #A0F2E1;
}

.mapa {
  display: flex;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 10px;
}

.info {
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.infofont {
  font-size: 20px;
}

.turnos {
  display: grid;
  justify-content: center;
  text-align: center;
  margin: 50px;
}

footer {
  background-color: rgb(255, 255, 255);
  text-align: right;
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .informacion {
    justify-content: space-evenly;
  }
  .info {
    font-size: 20px;
  }
  .infof {
    font-size: 25px;
  }
}
@media screen and (max-width: 1024px) {
  footer {
    display: grid;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .seccionesprincipales {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  #tratamientos {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 30px;
  }
  .imagenes {
    width: 250px;
    height: 250px;
  }
  .informacion {
    display: none;
  }
  footer {
    display: grid;
    justify-content: center;
  }
  .carousel {
    margin-top: 40px;
    width: 100%;
    max-width: 768px;
}
}
