@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/*variable*/
* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgba(48, 221, 207, 0.774);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(14, 163, 131);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 2px;
  word-spacing: 6px;
  line-height: 40px;
  margin: 10px;
}

.informacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #A0F2E1;
}
.informacion .mapa {
  display: flex;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 10px;
}
.informacion .info {
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.informacion .infofont {
  font-size: 25px;
}

footer {
  background-color: rgb(255, 255, 255);
  text-align: right;
  width: 100%;
}

header {
  background-color: rgb(255, 255, 255);
  text-align: right;
  word-spacing: 15px;
}
header nav {
  background-color: #ffffff;
}

.seccionesprincipales {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  margin: 60px;
  text-align: center;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
.seccionesprincipales .png {
  margin: 15px;
}
.seccionesprincipales .titulos {
  text-decoration: none;
  color: rgb(14, 163, 131);
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  transition: all 1s;
}
.seccionesprincipales .titulos:hover {
  font-size: 33px;
}
.seccionesprincipales p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 6px;
  line-height: 40px;
  margin: 10px;
}

.tituloprincipal, .tituloinicio {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 50px;
}
.tituloprincipal h1, .tituloinicio h1 {
  font-size: 50px;
  word-spacing: 6px;
}

.tituloinicio {
  margin: 40px;
}
.tituloinicio h1 {
  font-size: 40px;
  word-spacing: 6px;
}

#tratamientos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: space-between;
  padding: 15px;
  margin: 15px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 80px;
}
#tratamientos .bordes {
  border: double #ffffff;
  margin: 20px;
  padding: 20px;
}
#tratamientos .bordes h2 {
  font-size: 27px;
  word-spacing: 4px;
  font-weight: 400;
  text-transform: uppercase;
}
#tratamientos .bordes p {
  font-size: 17px;
  word-spacing: 3px;
}

.reservar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.imagenes {
  width: 300px;
  height: 300px;
  border: solid 3px white;
  transition: all 1s;
}
.imagenes:hover {
  width: 350px;
  height: 350px;
}

.carousel {
  margin-top: 40px;
  max-width: 100%;
}

.comienzo {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.turnos {
  display: grid;
  justify-content: center;
  text-align: center;
  margin: 50px;
}
.turnos .texto {
  margin-bottom: 30px;
}
.turnos .selector-tratamientos {
  margin: 30px;
}
.turnos .check-dias, .turnos .check-horarios {
  margin: 25px;
}

.formulario {
  display: grid;
  justify-content: center;
  border-top: solid 4px #ffffff;
  margin: 30px;
  padding: 25px;
}
.formulario .tituloformulario {
  text-align: center;
  font-size: 20px;
}
.formulario label {
  display: block;
  margin-top: 20px;
  letter-spacing: 1px;
}
.formulario input, .formulario textarea {
  width: 380px;
  height: 27px;
  background: #ffffff;
  border: 2px solid #18f3e1;
  padding: 10px;
  margin-top: 5px;
  font-size: 12px;
  color: #ffffff;
}
.formulario textarea {
  height: 150px;
}
.formulario #botonenviar {
  margin: 30px;
}

@media screen and (min-width: 992px) {
  #tratamientos .bordes h2 {
    font-size: 27px;
  }
  #tratamientos .bordes p {
    font-size: 17px;
  }
  .informacion {
    justify-content: space-evenly;
  }
  .informacion .info {
    font-size: 20px;
  }
  .informacion .infof {
    font-size: 25px;
  }
}
@media screen and (max-width: 855px) {
  .seccionesprincipales {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  #tratamientos {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  #tratamientos .bordes {
    margin: 10px;
    padding: 10px;
  }
  .imagenes {
    width: 350px;
    height: 300px;
  }
  .informacion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
  }
  .informacion .mapa {
    justify-content: center;
  }
  .informacion .info {
    display: flex;
    justify-content: center;
  }
  footer {
    display: grid;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .seccionesprincipales {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .tituloinicio {
    margin: 30px;
  }
  .tituloinicio h1 {
    font-size: 35px;
  }
  #tratamientos {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
  }
  #tratamientos .bordes {
    margin: 6px;
    padding: 6px;
  }
  #tratamientos .bordes h2 {
    font-size: 28px;
  }
  #tratamientos .bordes p {
    font-size: 20px;
  }
  .imagenes {
    width: 250px;
    height: 250px;
  }
  .informacion {
    display: none;
  }
  footer {
    display: grid;
    justify-content: center;
  }
  .carousel {
    margin-top: 40px;
    width: 100%;
    max-width: 768px;
  }
}/*# sourceMappingURL=estilos.css.map */